@model DepartmentModule.Models.Book

@{
    ViewData["Title"] = "Ma'lumotlar";
}

<h1>Ma'lumot</h1>





<div>
    <h4>Kitob</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookID">Tahrirlash</a> |
    <a asp-action="Index">Ro'yxatga qaytish</a>
</div>
