@model IEnumerable<DepartmentModule.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-xl-center" rowspan="2">
                Fan Nomi
            </th>
            <th class="text-xl-center" rowspan="2">
                Fan Dasturi
            </th>
            <th class="text-xl-center" rowspan="2">
                Fan Mavzusi
            </th>
            <th colspan="2" class="text-center">
                Adabiyotlar
            </th>
            <th class="text-xl-center" rowspan="2">

            </th>
        </tr>

        <tr class="text-center align-content-center">
            <td>
                Asosiy
            </td>
            <td>
                Qo'shimcha
            </td>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Program?.Name
                </td>
                <td>
                    @item.Themes?.Name
                </td>
                <td style="max-width:150px;">
                    @if (item.Literatures!=null)
                    {
                    @foreach (var literature in item.Literatures)
                        {
                        <div class="badge badge-secondary">
                            @literature.Name
                        </div>
                        }
                    }
                </td >


                <td style="max-width150px"> 
                    @if (item.AdditionalLiteratures!=null)
                    {
                         @foreach (var literature in item.AdditionalLiteratures)
                    {
                        <div class="badge badge-secondary">
                            @literature.Name
                        </div>
                    }
                    }
                </td>


                    <td>


                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Details</a> 
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
</table>




@*@foreach (var item in Model)
    {
       <div class="card border-primary mb-3" style="max-width: 20rem;">
                   <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
                   <div class="card-body">
                       <h4 class="card-title">Primary card title</h4>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   </div>

                   <a class="btn btn-warning " asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                   <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

       </div>}*@






